<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092706180261-gk9k5evtek2k7tol86d6datlrmeag934.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092706180261-gk9k5evtek2k7tol86d6datlrmeag934</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1092706180261-cmn6qn7jrch6k5pt57ftvaqn3qek08p4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBG1M-6XMQ35ElyKZ_yamC0ncWkXDojWtY</string>
	<key>GCM_SENDER_ID</key>
	<string>1092706180261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.buybrokoli.buybrokoli</string>
	<key>PROJECT_ID</key>
	<string>buybrokoli-1</string>
	<key>STORAGE_BUCKET</key>
	<string>buybrokoli-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092706180261:ios:4ef5ed7331d948c271014c</string>
</dict>
</plist>